.landingContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.landingInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
}

.landingInfo h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

.landingInfo p {
  text-align: justify;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.landingDescuentos {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: start;
}

.landingDescuentos img {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 10%,
    rgba(110, 109, 109, 0.5) 80%
  );
}

.landingDescuentos h3 {
  width: 15%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.containerDescuentos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.containerDescuentos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem;
  position: relative;
}

.containerDescuentos div img {
  width: 15vw;
  height: 15vw;
  border: 1px solid black;
}

.containerDescuentos div h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}

.containerDescuentos button span {
  overflow: hidden;
  background-color: transparent;
  border: none;
}

.containerDescuentos button {
  background-color: transparent;
  border: none;
}

.divButtonProducto {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  opacity: 0;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid black;
}

.divButtonProducto button {
  margin: 0.4rem;
  padding: 0.4rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  border-radius: 20rem;
  border: 1px solid black;
  width: 8vw;
  background-color: white;
}

.divButtonProducto button:hover {
  cursor: pointer;
}

.containerDescuentos div:hover .divButtonProducto {
  opacity: 1;
}

.divPrecio {
  display: flex;
  flex-direction: row !important;
  gap: 0.4rem;
  margin: 0 !important;
  align-items: start;
}

.divPrecio h3 {
  width: 15%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.containerImagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.4rem;
  gap: 0.8em;
  width: 95vw;
}

.containerHombre {
  display: flex;
  height: 90vh;
  width: 40%;
  background-image: url("https://images.pexels.com/photos/30473467/pexels-photo-30473467/free-photo-of-retrato-de-moda-creativo-con-maquillaje-atrevido.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  border: 2px solid black;
  align-items: end;
  justify-content: end;
}

.containerHombre button {
  margin: 0.4rem;
  padding: 0.4rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  border-radius: 20rem;
  border: 1px solid black;
  width: 8vw;
  background-color: white;
}

.containerHombre button:hover {
  cursor: pointer;
}

.containerMujer {
  display: flex;
  height: 90vh;
  width: 40%;
  background-image: url("https://images.pexels.com/photos/28593652/pexels-photo-28593652/free-photo-of-retrato-dinamico-en-angulo-bajo-de-una-mujer-segura-de-si-misma.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  border: 2px solid black;
  align-items: end;
  justify-content: end;
}

.containerMujer button {
  margin: 0.4rem;
  padding: 0.4rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  border-radius: 20rem;
  border: 1px solid black;
  width: 8vw;
  background-color: white;
}

.containerMujer button:hover {
  cursor: pointer;
}
