.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  height: 15vh;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  height: 5vw;
  width: 10vw;
}

.logo h1 {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 2rem;
}

.navbar {
  width: 30vw;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 2rem;
  cursor: auto;
}

.navbar ul li a:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.icons span {
  font-size: 2rem;
  overflow: hidden;
}

.icons span:hover {
  cursor: pointer;
}

.iconUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 8vw;
  height: 12vh;
}

.iconUser span {
  font-size: 2rem;
}

.iconUser span:hover {
  cursor: pointer;
}

.hoverMenu {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-direction: column;
}

.hoverMenu h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  border-bottom: 1px solid transparent;
}

.hoverMenu h4:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
