.filterBarContainer {
  display: flex;
  flex-direction: column;
  background-color: #383d42;
  width: 15vw;
  overflow-y: auto;
}

.filterLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filterLogoContainer h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.filterLogoContainer img {
  width: 5vw;
  height: 5vw;
}

.filterUlContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-left: 0.4rem;
}

.filterUlContainer ul li {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0.8rem;
}

.filterUlContainer ul li:hover {
  cursor: pointer;
}

.filterUlContainerSelected {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 0.8rem;
  text-decoration: underline;
}

.filterUlContainerSelected:hover {
  cursor: pointer;
}
